.wrong-letters-container {
  position: absolute;
  bottom: 40px;
  left: 20rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}
